.side-pane{
    flex-grow: 1;
    max-width: 25vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--color-surface-2);
    border-right: 1px solid var(--color-border);
    gap: 10px;
}

.sd-header{
    height: 7vh;
    display: grid;
    grid-template-areas: 
        "h-icon h-title"
        "h-icon h-subtitle";
    grid-template-columns: 3rem 1fr;
    grid-template-rows: repeat(2, 1rem);
    align-content: center;
    gap: 0.4rem;
}

.sd-header-icon{
    grid-area: h-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 3rem;
}

.sd-header-icon img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.sd-header-title{
    grid-area: h-title;
    font-size: var(--fs-md);
}

.sd-header-subtitle{
    grid-area: h-subtitle;
    font-size: var(--fs-xxs);
    color: var(--color-text-secondary);
    text-align: start;
}

.sd-nav{
    padding-top: 1rem;
    padding-left: 0.5rem;
    flex-grow: 10;
    width: 100%;
}

.sd-user{
    width: 100%;
    font-size: var(--fs-xs);
    flex-grow: 2;
    display: grid;
    grid-template-areas: 
        "img user-name theme-btn"
        "img user-level theme-btn"
        "img user-bar theme-btn";
    grid-template-columns: 3rem 1fr 1fr;
    grid-template-rows: repeat(3, 1rem);
    column-gap: 0.5rem;
}

.sd-user-image{
    grid-area: img;
}

.sd-user-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sd-user-name{
    grid-area: user-name;
    text-align: start;
}

.sd-user-level{
    grid-area: user-level;
    text-align: start;
}

.sd-user-bar{
    grid-area: user-bar;
    align-self: center;
    border-radius: var(--radius-lg);
    height: 30%;
    background: linear-gradient(
        to right,
        var(--color-success) 66%,
        var(--color-border-strong) 44%
    ); 
}

.sd-user-theme{
    grid-area: theme-btn;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sd-user-theme button{
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
    font-size: var(--fs-2xl);
    cursor: pointer;
}